<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sl_wj.sls60020_07_11" >
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >
            <!--android:windowSoftInputMode="stateAlwaysVisible|adjustResize"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".history_pageActivity"
            android:label="@string/title_activity_history_page" >
        </activity>
        <activity
            android:name=".staff_information"
            android:label="@string/title_activity_staff_information" >
        </activity>
        <activity
            android:name=".derive_page"
            android:label="@string/title_activity_derive_page" >
        </activity>
        <activity
            android:name=".edit_accounts"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"
            android:label="@string/title_activity_edit_accounts" >
        </activity>
        <activity
            android:name=".principal_page"
            android:label="@string/title_activity_principal_page" >
        </activity>
    </application>

</manifest>
